


:root{
    --corFonte:#555;
    --usuariosFundo:#eeeeee;
    --usuariosFundo2:#fff;
    --usuarios:#eee;
    --azul:#62e8ff;
    --icone:var(--azul);
    --selecionado:#a7a7a7;
    --verde:#dcf8c6;
}